

#eclipse stuff
.cproject
.dep/
.project
.settings/
.pydevproject

#OS
.gdb_history
.DS_Store

#binaries
build
Arepo
Arepo.dSYM
Tenet
Tenet.dSYM
Gadget4
Gadget4.dSYM
.build*/
*.o
*.check
/extlibs

doxygen
WARNINGS
processes_*.txt

*~
*.o*
*.e*
*\#
*.sh

#potentially large files
*.h5
*.hdf5
*.dat
*.bin

#media files
*.mp4
*.png
*.eps
*.jpg
*.jpeg
*.pdf
*.out

*.aux
*.toc
*.log

#Config files
/Config.sh
/Makefile.systype
/param.txt
/parameter.txt
/Run1.tex
/param.tex
/param.param
/*.param


#Output folders
/tests
/out
/**/output*/
balance.txt
cpu.txt
info.txt
domain.txt
memory.txt
timebins.txt
timings.txt
energy.txt
cpu.csv
*-usedvalues
**/restartfiles/


# special files in test directory
tests/Aquarius/Aq-A-2-cont/Tree-PM-O3/*.txt
tests/ICs

# symbolic links in repository
tests/MilliMillHyper/output
tests/MilliMillHyper/output_tree
tests/EuclidTest/G4_TreePM/output
site/
